

@import 'partials/globalStyles' ;




/*
    Header
*/

header{
    height:50%;
    position: relative;
    background:url('../../images/manga-text.jpg')  center / cover no-repeat;  
}

@media only screen and (max-height:600px) and (orientation:landscape){
    header{
        height: 55%;
    }
}



.mangas-text-collection-container{
    margin-top:4em;
    .collection{
        .collection-header{
            h4{
                text-transform: uppercase;
            }
        }
    }

    .mangas-social-container{
        padding-left:2em;
    }
        
}

