/*pagination*/

ul.pagination {
    text-align: center !important;
    margin-top: 2em !important;
    margin-bottom: 2em !important;
  }
  
  ul.pagination li.active {
    background: #171941 !important;
    box-shadow: 0 18px 24px rgba(50, 50, 93, 0.1), 0 10px 16px rgba(0, 0, 0, 0.08) !important;
    transition: box-shadow 150ms ease 0s !important;
  }
  
  ul.pagination li.active:hover, ul.pagination li.active:focus {
    box-shadow: 0 28px 34px rgba(50, 50, 93, 0.1), 0 20px 26px rgba(0, 0, 0, 0.08) !important;
  }
  