<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>upupmanga</title>
</head>

<body>
    <nav>
        <div className="nav-wrapper container">
            <a href="http://localhost:3000/" class="brand-logo">

                <img src="/images/nav-logo-0.png" id="nav-logo" />
                <img src="/images/nav-logo-1.png" id="nav-logo-sm" />
            
            </a>
        </div>
    </nav>
    <header class="container-fluid" style="background: url('/images/forget-pass-cover.jpg') center/cover no-repeat">
        <div class="header-content">
            <h2>Recover Your Account</h2>
        </div>
    </header>

</body>

</html>