<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>upupmanga</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/materialize/css/materialize.min.css" />
    <link rel="stylesheet"  type="text/css" href="/stylesheet/css/forgetPassReq.css" />
</head>

<body>
    <% include header.ejs %>
    <div class="container-fluid form-page-main-container">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>recover account</h3>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m8 offset-m2">
                    <div class="row">
                        <div class="col s12">
                            <form method="POST" >
                                <div class="input-field col s12">
                                    <input type="password" class="validate" placeholder="Enter Your Password" id="Reset"
                                        required />
                                    <label for="Reset">Your New Password</label>
                                </div>
                                
                                <div class="input-field col s12">
                                    <button type="submit" class="btn btn-large btn-primary">Reset</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
    <script src="/materialize/js/materialize.min.js"></script>
    <script src="/scripts/global.js"></script>
    <script src="/scripts/index.js"></script>
  
</body>

</html>